# Testing discrimination of features obtained from AVGPOOL layer of ResNet50 on Test small

In [17]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 57.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.22.4 in ./.venv/lib/python3.10/site-packages (from pandas) (2.2.1)
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 508.0/508.0 KB 62.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 KB 44.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [48]:
import numpy as np
import pandas as pd
import shutil
import os

In [2]:

path = "../dataset/features_cibo_avgpool_resnet50.npz"

small_dataset = np.load(path, 'r')
X_strain = small_dataset['feat_tr']
y_strain = small_dataset['labels_tr']

## computing centroids

In [3]:

centroids = []  

for i in range(251):
    centroid = X_strain[i*20:i*20 + 20, :].mean(axis=0)
    centroids.append(centroid) 

centroids = np.array(centroids)

In [4]:
centroids,

array([[0.02020155, 0.03879871, 0.02576881, ..., 0.01351904, 0.03045027,
        0.04058234],
       [0.01003248, 0.01968441, 0.02705729, ..., 0.02225332, 0.01425039,
        0.02400464],
       [0.00867276, 0.01724986, 0.0124148 , ..., 0.02088222, 0.02882799,
        0.0141716 ],
       ...,
       [0.00634386, 0.01618105, 0.01458906, ..., 0.01101616, 0.00696156,
        0.00712175],
       [0.01059906, 0.01154961, 0.01477725, ..., 0.01136092, 0.01588671,
        0.01255139],
       [0.00808983, 0.01394239, 0.01210999, ..., 0.0121937 , 0.03124724,
        0.01133858]], shape=(251, 2048), dtype=float32)

In [12]:
results = []

for i in range(251):
    dists = []

    for j in range(20):
        dist = np.linalg.norm(centroids[i, :] - X_strain[i*20 + j, :])
        dists.append((i*20 + j, dist))
    
    dists = sorted(dists, key=lambda x: x[1])
    results.append(dists)

In [43]:
results[0]

[(15, np.float32(0.4424286)),
 (3, np.float32(0.4462494)),
 (19, np.float32(0.44721848)),
 (7, np.float32(0.48143953)),
 (14, np.float32(0.4938678)),
 (1, np.float32(0.51374906)),
 (17, np.float32(0.524193)),
 (5, np.float32(0.5286296)),
 (8, np.float32(0.5344056)),
 (4, np.float32(0.53823185)),
 (13, np.float32(0.5424092)),
 (11, np.float32(0.54862064)),
 (12, np.float32(0.551888)),
 (10, np.float32(0.5645804)),
 (6, np.float32(0.5735678)),
 (9, np.float32(0.58497465)),
 (18, np.float32(0.6020773)),
 (2, np.float32(0.623489)),
 (16, np.float32(0.6505464)),
 (0, np.float32(0.6751786))]

In [38]:
training_set = pd.read_csv('../dataset/train_small.csv', header=None)
training_set

                     0    1
0     train_059371.jpg    0
1     train_059389.jpg    0
2     train_059425.jpg    0
3     train_059445.jpg    0
4     train_059516.jpg    0
...                ...  ...
5015  train_120127.jpg  250
5016  train_120146.jpg  250
5017  train_120161.jpg  250
5018  train_120200.jpg  250
5019  train_120211.jpg  250

[5020 rows x 2 columns]